/* Body Styles */
:root {
    --primary-color: #a8664b;
    --secondary-color: #ff6f61;
    --tertiary-color: #005f73;
    --background-color: #f0f4f8;
    --highlight-color: #4CAF50;
    --text-color: #333;
  }

  
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* Light background */
    color: #333;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header Styles */
.header {
    background-color: #a8664b;
    color: white;
    text-align: center;
    padding: 2em;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

.title-container {
    text-align: center;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 4rem;
    background: linear-gradient(45deg, #ff6f61, #ff9a8b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

  
/* FAQ Content Styles */
.main-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.main-content h2 {
    text-align: center;
    color: #005f73; /* Dark blue */
    font-size: 2rem;
    margin-bottom: 1.5em;
}

/* FAQ List */
.faq-list {
    list-style: none;
    padding: 0;
}
.skills-list {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    color: #333;
}

.skills-list li::before {
    content: "✔️"; /* Agrega checkmarks automáticamente */
    margin-right: 8px;
    color: #005f73; /* Azul oscuro */
}
/* para writing style*/
.highlight {
    font-weight: bold;
    font-size: 1.2rem;
    color: #4CAF50;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}


.faq-item {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--tertiary-color);

}
.faq-item:hover {
    background-color: #e0f0f3;
    transform: scale(1.02); /* Agranda ligeramente el item al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  }

.faq-question {
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: #a8664b;
    font-weight: bold;
}

.faq-answer {
    font-size: 1rem;
    margin: 0;
    color: #555;
    display: none; /* Initially hidden */
    font-style: italic;

}

  
.faq-answer.active {
    display: block;
    margin-top: 10px;
}
.buttons-container {
    display: flex;
    justify-content: center; /* Centra los botones */
    margin-top: 20px;
}
.go-back-container {
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 15px; /* Espacio entre botones */
    margin-top: 20px;
}

.back-btn, .contact-btn {
    padding: 10px 20px;
    background-color: #a8664b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.back-btn:hover, .contact-btn:hover {
    background-color: #8a5238;
}

/* Footer Styles */
.footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    /* Ajustes para el header */
    .header {
      padding: 1.5em; /* Reduce el padding del header */
      text-align: center; /* Centra el texto */
    }
  
    /* Ajustes para el h1 */
    h1 {
        font-family: 'Helvetica', sans-serif;
        font-size: 3rem;
        background: linear-gradient(45deg, #ff6f61, #ff9a8b);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        display: inline-block;
    }
  }
  